<!DOCTYPE html>
<html>
<head>
    <title></title>
    <style type="text/css">
        code, .code {{
            color: #7D2727;
            background-color: #eff0f1;
            }}
        code p, .code p {{
            margin: 0 5px;
            }}
    </style>
</head>
<body>
    <h2>🙏 监控描述：{job[desc]}</h2>
    <p>作业名称：{job[_name]}</p>
    <p>发起时间：{job[due_time]}</p1>
    <hr/>

    <h2>报警原因：数据校验未通过</h2>
    <p>校验表达式：<code>{job[validator]}</code></p>
    <p>查询结果<code>result</code>：<code>{content!r}</code></p>

    <p><b>sql</b>：<div class="code" style="margin-left: 2em"><code>{sql}</code></div></p>
    <p><code>db_conf</code>(s)：<code>{database}</code></p>
</body>
</html>
