<!DOCTYPE html>
<html>
<head>
    <title></title>
    <style type="text/css">
        code: {{
            font-family: Consolas,Menlo,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New,monospace,sans-serif;
            background-color: #eff0f1;
            white-space: pre-wrap;
            font-size: 13px;
            padding: 1px 5px;
        }}
    </style>
</head>
<body>
    <h1>job {job[_name]}</h1>
    <p>due time {job[due_time]}</p1>
    <h2>reason: validator not pass</h2>
    <p>validator is: <code>{job[validator]!r}</code></p>
    <p>result is: <code>{content!r}</code></p>
</body>
</html>
